<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="pending" layout="icon-start">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label>Vistos</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="done" layout="icon-start">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Não vistos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf=" type == 'pending'">
    <ion-item-sliding *ngFor="let filme of filmeService.getFilmes(); let i = index">
      <ion-item *ngIf="!filme.done">
        <ion-label>{{filme.value}}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="filme.done"></ion-checkbox>
        <ion-badge color="tertiary" *ngIf="filme.date">
          {{filme.date | date: 'dd/MM/yyyy'}}
        </ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="medium" (click)="presentAlertPromptUpdate(i, filme)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light" (click)="presentAlertPromptDelete(i)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf=" type == 'done'">
    <ion-item-sliding *ngFor="let filme of filmeService.getFilmes(); let i = index">
      <ion-item *ngIf="filme.done">
        <ion-label>{{filme.value}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="filme.done"></ion-checkbox>
        <ion-badge color="tertiary" *ngIf="filme.date">
          {{filme.date | date: 'dd/MM/yyyy'}}
        </ion-badge>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="medium" (click)="presentAlertPromptUpdate(i, filme)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light" (click)="presentAlertPromptDelete(i)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="warning" (click)="presentAlertPromptAdd()">
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
